In [9]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "Resources/Mouse_metadata.csv"
study_results_path = "Resources/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset

data_df = pd.merge(mouse_metadata, study_results, on = "Mouse ID", how = "outer")
# Display the data table for preview
data_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [10]:
# Checking the number of mice and how many times each unique mouse id appears

data_df["Mouse ID"].value_counts()

g989    13
l471    10
x773    10
g497    10
j984    10
        ..
o848     1
n482     1
x336     1
v199     1
l872     1
Name: Mouse ID, Length: 249, dtype: int64

In [56]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicate_mouse = data_df[data_df.duplicated(["Mouse ID", "Timepoint"],keep = False)]

In [67]:
duplicate_mouse_id= duplicate_mouse["Mouse ID"].unique()

In [75]:
dup_mouse_id=(duplicate_mouse_id[0])

In [72]:
data_df2 = data_df.copy()

In [83]:
data_df2 = (data_df2.loc[data_df["Mouse ID"] != dup_mouse_id,:])

In [84]:
data_df2

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [86]:
data_df2["Mouse ID"].value_counts()

l471    10
j365    10
x773    10
a444    10
g497    10
        ..
v199     1
f932     1
t573     1
b447     1
x226     1
Name: Mouse ID, Length: 248, dtype: int64